{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе{% endblock %}
{% block content %}
<div class="container py-5">
  <h1> Об авторе проекта</h1>
  <p> Привет! Меня зовут Никита, мне 24 года.
      Я давно интересовался программированием, однако лишь сейчас нашел в себе силы и мотивацию заняться им всерьез, - 
      учусь веб-разработке в Яндекс.Практикуме.
      Я люблю вкусно покушать, смотреть сериалы, а также ставить перед собой задачи и решать их!
  </p>
  <p> А вот мое пошарпанное рабочее место(надеюсь куплю себе новый стол, когда устроюсь работать программистом) </p>
  <img src="{% static 'img/about/workstation.jpg' %}" width=300 alt="Мое рабочее место">
</div>
{% endblock %}